@import "../Vars.scss";

// .filters{
//   display: grid;
//   // margin-top: 10px;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr;
//   grid-template-areas: "landing";
//   height: 100vh;
//   overflow-y: hidden;
//

.filters {
  background: red;

  & h1{
    padding-top: 20px;
    text-align: center;
  }
  & .search--ubication {
    display: block;
    margin: 10px auto;
  }
  & p {
    padding: 20px 0;
    text-align: center;
  }
  & label {
    display: block;
  }
  & .radio-options {
    background: papayawhip;
  }
  &__ubication {
    width: 100%;
    height: auto;
    background: blue;
  }
  &__info {
    width: 100%;
    height: 200px;
    background: violet;
  }
  &__services {
    width: 100%;
    height: auto;
    background: green;
    

    &--contain {
      display: flex;
    align-items: center;
    justify-content: center;;
    }
  }
  &__search {
    background:gray;
    display: flex;
    align-items: center;
    justify-content: center;;
  }

}
.button--filter {
  @include button-action;
  margin-top: 10px;
  display: block;
  margin: 10px auto;
}

.select-info{
  @include select-general
}