.propiety {
  width: 60%;
  height: auto;
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #c3c3c3;
  &__slider {
    width: 600px;
    margin-right: 20px;
  }
  &__details:hover {
    text-decoration: underline;
  }
}
