@import "../Vars.scss";
@import "../Media.scss";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: black;
  i {
    font-size: 1em;
  }
  &__slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

%btn-styles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
  height: 15%;
  border-radius: 10%;
  background: none;;
  border: none;
  outline: none;
  transition: 0.5s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.705);
    cursor: pointer;
    i {
      color: rgb(119, 119, 119);
    }
  }
}

#goLeft {
  left: 10px;
  @extend %btn-styles;
}

#goRight {
  right: 10px;
  @extend %btn-styles;
}

