@import "../Vars.scss";

.NotFound {
  margin: 30px 0;
  align-items: center;

& h1 {
  color: $color-typography;
  text-align: center;
  font-size: 1.7rem;
  
}
 &--img {
  max-width: 100%;
  display:block;
  margin:auto;
}
& p {
  font-size: 35px;
  text-decoration: none;  
  text-align: center;
}
& a {
  color: $color-typography;
  font-size: 1.7rem;

}

}