* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
}

@media only screen and (min-width: 46.875em) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "gallery landing";
    height: 100vh;
  }

  .search--ubication{
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .Header-links li {
    display: none;
  }
  .Header-links_profile {
    display: flex;
    width: 30px;
    height: 30px;
  }
}
